@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input[type=text] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: hsl(0 0% 100%);
  border: 1px solid hsl(240 5.9% 90%);
  border-radius: 0.5rem;
  appearance: none;
}

.router-link-active {
  font-weight: 700;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

.add-button {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: hsl(0 0% 100%);
  border: 1px solid hsl(240 5.9% 90%);
  border-radius: 0.5rem;
  appearance: none;
}

.add-button:hover {
  background-color: hsl(240 5.9% 90%);
  transition: background-color 0.2s ease-in-out;
}

.is-flex {
  display: flex;
}

.is-flex--space-between {
  justify-content: space-between;
}

.is-text-center {
  text-align: center;
}